

.light-theme .nav-items {
  text-decoration: none;
  font-size: 0.9rem !important;
  color: black;
  letter-spacing: 0.15rem;
  border: none;
  margin: auto;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.dark-theme .nav-items {
  text-decoration: none;
  font-size: 0.9rem !important;
  color: white;
  letter-spacing: 0.15rem;
  border: none;
  margin: auto;
  padding: 1rem;
  border: transparent;
  background-color: transparent;
}

.dark-theme .active-nav-item {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.light-theme .active-nav-item {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon-button {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon-button:hover {
  transform: scale(1.1);
}

.light-icon-mode {
  color: black;
  font-size: 1.0rem;
}

.dark-icon-mode {
  color: white;
  font-size: 1.5rem;
}